DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
# DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
REDIS_URL=redis://localhost:6379
ANALYTICS_ID=
ANALYTICS_HOST=
# Production only
# DJANGO_SECURE_SSL_REDIRECT=True
# DJANGO_BEHIND_PROXY=True
# DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com
# SENTRY_DSN=
# SENTRY_RELEASE=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# DBBACKUP_BUCKET=
