DJANGO_SECRET_KEY=replace-me
# DJANGO_SECURE_SSL_REDIRECT=False  # set to False when running behind a TLS-terminating proxy that handles HTTPS itself
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost:5432/shop_db
EMAIL_URL=consolemail://
# DEFAULT_FROM_EMAIL=webmaster@localhost
# SERVER_EMAIL=root@example.com
# DJANGO_ADMINS=admin@example.com
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
