DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Production only
# DATABASE_URL=sqlite:////data/db.sqlite3
# EMAIL_URL=smtp+tls://<token>:<token>@smtp.postmarkapp.com:587
# DEFAULT_FROM_EMAIL=no-reply@example.com
# SERVER_EMAIL=server@example.com
# DJANGO_ADMINS=Admin:admin@example.com
# SENTRY_DSN=https://...@sentry.io/...
# MEDIA_ROOT=/data/media
