DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:////data/site.sqlite3
EMAIL_URL=consolemail://
DEFAULT_FROM_EMAIL=webmaster@localhost
# SERVER_EMAIL=root@example.com
# DJANGO_ADMINS=admin@example.com
# DJANGO_SITE_DOMAIN=example.com
# DJANGO_BEHIND_PROXY=True
# DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com
# SENTRY_DSN=
# SENTRY_RELEASE=
# S3_ENDPOINT=https://s3.example.com
# S3_BUCKET=myproject
# S3_ACCESS_KEY_ID=
# S3_SECRET_ACCESS_KEY=
# EMAIL_URL=smtp+tls://<token>:<token>@smtp.postmarkapp.com:587
