.venv/
.env
*.sqlite3
staticfiles/
media/
.ruff_cache/
.pytest_cache/
.mypy_cache/
htmlcov/
.coverage
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
dist/
build/
*.egg-info/
node_modules/
.django_tailwind_cli/
