# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Environment
.env

# Django
*.sqlite3
staticfiles/
media/

# Editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Ruff
.ruff_cache/

# uv
.python-version
