# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/

# Django
*.sqlite3
staticfiles/
media/
local_settings.py

# Env
.env

# Cache / tooling
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.DS_Store

# Editor
.idea/
.vscode/
*.swp
*.swo
