DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
# When running Postgres via docker-compose, use port 5433 (avoids conflict with a local Postgres on 5432).
DATABASE_URL=postgres://postgres:postgres@localhost:5433/postgres
REDIS_URL=redis://127.0.0.1:6379
EMAIL_URL=consolemail://
# DEFAULT_FROM_EMAIL=webmaster@localhost
# SERVER_EMAIL=root@example.com
# DJANGO_ADMINS=admin@example.com,ops@example.com
