.venv/
.env
*.sqlite3
staticfiles/
media/
__pycache__/
*.py[cod]
*.egg-info/
dist/
.ruff_cache/
.mypy_cache/
.pytest_cache/
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid
locale/*/LC_MESSAGES/*.mo
