DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
REDIS_URL=redis://redis:6379
EMAIL_URL=consolemail://
DEFAULT_FROM_EMAIL=webmaster@localhost
# SERVER_EMAIL=root@example.com
# DJANGO_ADMINS=admin@example.com
POSTMARK_SERVER_TOKEN=
ANYMAIL_WEBHOOK_SECRET=
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=us-east-1
# AWS_S3_ENDPOINT_URL=http://minio:9000
# AWS_S3_CUSTOM_DOMAIN=localhost:9000
# AWS_S3_URL_PROTOCOL=http:
ANALYTICS_ID=
# ANALYTICS_HOST=
SENTRY_DSN=
# SENTRY_RELEASE=
# DJANGO_BEHIND_PROXY=True
# DJANGO_SECURE_SSL_REDIRECT=True
# DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com
