# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.sqlite3
staticfiles/
media/
.env

# Celery
celerybeat-schedule*

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
.ruff_cache/

# Editor
.vscode/
.idea/
*.swp
