# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.sqlite3
staticfiles/
media/
.env

# Testing / type checking
.coverage
htmlcov/
.pytest_cache/
.ruff_cache/
pyrightconfig.json

# Celery
celerybeat-schedule*

# Docker
*.env.local

# Editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo
