.venv/
.env
*.sqlite3
staticfiles/
media/
.ruff_cache/
.pytest_cache/
.mypy_cache/
__pycache__/
*.pyc
*.pyo
htmlcov/
.coverage
celerybeat-schedule*
node_modules/
.django_tailwind_cli/
dist/
build/
*.egg-info/
